	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
	/* Global parameters */
	::-webkit-scrollbar { width: 0; height: 0; background: #0000 }
	::selection { background: #faec }
	::-moz-selection { background: #faec }
	/* Essential global parameters */
	:root {
		--fontMain: 3vmin 'Yomogi';
		--fontSub: 3vmin 'Noto Sans JP'; /* optional */
		--accentColor: #fff;
		--textColor: #000;
	}
	
	/* Meta-classes */
	.text {
		font: inherit; color: inherit;
		text-decoration: none;
	}
	.bounded {
		overflow: hidden;
		overscroll-behavior-x: none;
		overscroll-behavior-y: none;
	}
	.nosel {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		user-drag: none; 
		-webkit-user-drag: none;
	}
	.nil { pointer-events: none }
	.break { float: left; width: 100%; height: 1px; margin: 0; display: block }
	
	/* Local objects */
	#headerArt {
		float: left; width: 100%; 
		background-color: #222;
		box-shadow: 2vmin 0 2vmin #0006;
		margin: 0;
	}
	#aboutMe {
		float: left; font: var(--fontSub);
		background: #00000015;
		backdrop-filter: blur(6px);
		width: 100%; margin: 0;
	}
	
	.item { margin: 5vmin 5vmin 0 5vmin }
	.themeBadge {
		visibility: hidden;
		padding: 1vmin 2vmin 2vmin 2vmin;
		border-radius: 50%;
		position: absolute;
		transition: 0.1s linear
	}
	.themeBadge:hover { animation: borderPinkBlue linear 2s infinite, shadowPinkBlue linear 2s infinite }
	#themeDark {
		background: #000; color: #fff;
		left: 1.5vmin; top: -9vmin
	}
	#themeBright {
		background: #fff; color: #000;
		left: 10vmin; top: -9vmin;
	}
	#titleOrAuthor {
		animation: slideOut ease-in 0.3s forwards;
		font-size: 2.5vmin;
		background: var(--accentColor);
		color: var(--textColor);
		padding: 0.5vmin 2vmin 1vmin 2vmin;
		border-radius: 5vmin;
		position: absolute;
		right: 1vmin; top: -6.5vmin;
		transform-origin: 100% 50%;
	}
	#core:hover #titleOrAuthor { animation: slideIn ease-in 0.3s forwards }
	
	.msg_onLoad { animation: expand linear 0.3s forwards }
	.msgBox {
		background: var(--accentColor);
		border-radius: 3vmin;
		min-height: 10vmin;
		width: 70%;
		transition: 0.1s linear
	}
	.msgBox:hover { animation: shadowPinkBlue linear 2s infinite }
	.msgLeft { float: left; transform-origin: 0 0% }
	.msgRight { float: right; transform-origin: 100% 0% }
	.msgBoxText {
		font: var(--fontMain);
		color: var(--textColor);
		float: left;
		width: 86%; max-width: 86%;
		word-wrap: break-word;
		display: flex; flex-wrap: wrap;
	}
	.msgTextLeft { margin: 1.5% 3% 3% 0 }
	.msgTextRight { margin: 1.5% 3% 3% 6% }
	.msgBoxTop {
		background: var(--accentColor);
		/* Clip: triangle pointing down */
		clip-path: polygon(0 0, 50% 100%, 100% 0);
		min-width: 8%; max-width: 8%;
		min-height: 3vmin; max-height: 3vmin;
		position: sticky
	}
	.msgTopLeft {
		float: left;
		transform: translateX(-40%)
	}
	.msgTopRight {
		float: right;
		transform: translateX(40%)
	}
	
	.msgGallery {
		width: 100%; display: flex;
		justify-content: center;
		border-radius: 3vmin;
		margin: 2vmin 0 2vmin 0;
		flex-wrap: wrap;
	}
	.msgGalleryEntry {
		background-color: #777;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-width: 30%; height: 30vmin;
		margin: 1% 1%; float: left;
		border-radius: 2vmin;
		transition: 0.1s linear
	}
	.msgGalleryEntry:hover { animation: borderPinkBlue linear 1s infinite }
	.msgGalleryEntry:active { animation: entrySel linear 0.15s forwards }
	
	.msgRanking {
		background: #000a;
		color: var(--accentColor);
		float: left; margin-top: 5%;
		width: 100%; display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 10px
	}
	.msgRankingTitle { width: 100%; color: #fff; margin: 1% 0; text-align: center }
	.msgRankingEntry {
		background-color: #777;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 1% 2%; float: left;
		transition: 0.1s linear
	}
	.msgRankingEntry:hover { animation: borderPinkBlue linear 1s infinite }
	.msgRankingEntry:active { animation: entrySel linear 0.15s forwards }
	.rankingA {
		width: 15vmin; height: 15vmin;
		border-radius: 50%
	}
	.rankingB {
		min-width: 28%; height: 17vmin;
		border-radius: 2vmin
	}
	.rankingC {
		min-width: 18%; min-height: 30vmin;
		border-radius: 2vmin
	}
	
	/* Desktop version */
	@media screen and (min-width: 550px) {
		#core {
			width: 798px;
			background-color: #000;
			background-image: url('https://pbs.twimg.com/media/E77uLkDUUAQQQ_w?format=jpg&name=medium');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin: 2vh 0 2vh 0;
			border-radius: 5vmin;
			box-sizing: border-box;
		}
	}
	/* Mobile version */
	@media screen and (max-width: 550px) {
		#core {
			width: 375px;
			background-color: #000;
			background-image: url('https://pbs.twimg.com/media/E77uLkDUUAQQQ_w?format=jpg&name=medium');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin: 2vh 0 2vh 0;
			border-radius: 5vmin;
			box-sizing: border-box;
		}
	}
	
	/* Optional components */
	#brightnessCtrl {
		visibility: hidden;
		background: #0005;
		width: 6vmin; height: 6vmin;
		border-radius: 50%;
		position: absolute;
		right: 1vmin; top: -14vmin;
		transition: 0.3s linear
	}
	#brightnessCtrl:hover {
		width: 30vmin; height: 30vmin; top: -40vmin;
		background: radial-gradient(#fffa, #000a);
		animation: borderPinkBlue linear 2s infinite
	}
	
	/* Animations */
	@keyframes themeW {
		0%{ background: #000 }
		100%{ background: #fff }
	}
	@keyframes themeB {
		0%{ background: #fff }
		100%{ background: #000 }
	}
	@keyframes slideIn { 0% { transform: scaleX(0) } }
	@keyframes slideOut { 100% { transform: scaleX(0) } }
	@keyframes expand { 0%{ transform: scale(0) } }
	@keyframes shrink { 100%{ transform: scale(0) } }
	@keyframes borderPinkBlue {
		0% { border: 3px solid #f9c }
		50% { border: 3px solid #9cf }
		100% { border: 3px solid #f9c }
	}
	@keyframes shadowPinkBlue {
		0%, 100% {
			text-shadow: 0px 0px #f9c;
			box-shadow: 0px 0px #f9c
		}
		25% {
			text-shadow: 2px 1px #9cf;
			box-shadow: 7px 1px #9cf
		}
		50% {
			text-shadow: 0px -2px #f9c;
			box-shadow: 1px -4px #f9c
		}
		75% {
			text-shadow: -2px 1px #c9f;
			box-shadow: -3px 6px #c9f
		}
	}
	@keyframes spanIn { 100%{ width: 100vw; margin: 0; border-radius: 0 } }
	@keyframes spanOut { 0%{ width: 100vw; margin: 0; border-radius: 0 } }
	@keyframes entrySel {
		0% { background-color: #0000 }
		100% {
			background-size: contain;
			width: 100vw; height: 100vh;
			border-radius: 2vmin;
			background-color: #0000
		}
	}
	
	/* ... Decorative objects ... */
	body {
		width: 100vw;
		background: #eee;
		display: flex; margin: 0;
		justify-content: center;
	}
	#showcase {
		font: var(--fontMain);
		background: #86a;
		position: fixed;
		top: 1vmin; right: 1vmin;
		width: 60vmin; height: 60vmin;
		border-radius: 5vmin;
		transform: scale(0.15);
		transform-origin: 100% 0%;
		transition: 0.3s linear;
	}
	#showcase:hover { transform: scale(1) }
	.sc_title {
		display: block; float: left;
		width: 90%; height: 16%;
		color: #fff; margin-left: 5%;
		font-size: 7vmin; text-align: center
	}
	.sc_inp {
		all: unset;
		display: block; float: left;
		width: 100%; height: 10%;
		background: #0007; color: #fff;
		font-size: 4vmin; text-align: center
	}
	.sc_btn {
		display: inline; float: left;
		background: #0007; color: #fff;
		padding: 2vmin 0; width: 50%;
		font-size: 3vmin; text-align: center
	}
	